<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h1 class="title">Dashboard</h1>
        <p class="subtitle"> uw host is: {{username}}! </p>
        <a class="button" href="/request">
                Klik hier om een liedje aan te vragen
        </a>
    </div>
    <div class="player" id="player">
        <h2>Currently playing:</h2>
        <ul>
            <li class="song" id="songName">
                {{song_name}}
            </li>
            <li class="artist" id="songArtist">
                {{song_artist}}
            </li>
            <li class="img">
                <div class="background">
                    <div class="vinyl">
                        <img id="coverImage" class="vinylImg" src="{{cover_image}}" alt="Album Cover Image">
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script>
        function updatePlayer() {
            fetch('/currently-playing-json')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('coverImage').src = data.cover_image;
                    document.getElementById('songName').innerText = data.song_name;
                    document.getElementById('songArtist').innerText = data.song_artist;
                });
        }

        // Update the player every second
        setInterval(updatePlayer, 1000);
    </script>
</body>
</html>
